<p>here we have three component selectors inside  component</p>
<label>Server name</label>
<input type="text"
 class="form-controler"
 (input)="UpdateServerName($event)"/>
 <p *ngIf="serverCreated; else noserver"> server was created : server name is {{ServerName}}</p>
   <ng-template #noserver>
    <p> no server was created </p>
   </ng-template>

  <button
   class="btn btn-primary"
   [disabled]="!allowNewServer"
   (click)="onCreateServer()">Add server
  </button>
  <button class="btn btn-primary" (click)= "ToggleP($event)" >displaydetails</button>
  <p *ngIf="ToggleStatus">
    keep trying and never stop , I am acually facing the hardest moment in my life.
    stop and cray or move on.
  </p>
  <ul>
    <li *ngFor="let item of ToggleLog; let i = index"
      [ngStyle]="{backgroundColor: i >=5 ? 'blue':'green'}"
      [ngClass]="{'cssClass': i >=5}"
     >{{i}}: {{item}}</li>
 </ul>
<p [innerText]="allowNewServer" ></p>
<P>{{serverCreationStatus}}</P>
<app-server *ngFor="let item of servers"> </app-server>
